* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family:"DIN";
    src: url(font/DIN\ Alternate\ Bold.ttf);
  }

@font-face {
   font-family:"Shuei";
   src: url(font/FOT-DNPShueiGoGinStd-L.otf);
 }


@font-face {
  font-family:"AUT-130";
  src: url(font/AUTHENTICSans-130.otf);
}

@font-face {
  font-family:"AUT-90";
  src: url(font/AUTHENTICSans-90.otf);
}

@font-face {
  font-family:"AUT-60";
  src: url(font/AUTHENTICSans-60.otf);
}


header {
  height: 30vh; /*ヘッダーの高さ*/
  display: flex;
  align-items: center; /*垂直方向の揃え*/
  padding-top: 7vw;
  padding-left: 5vw;
  font-family:"DIN";
}
  
.header-nav-list {
  position:fixed; /*位置固定*/
  list-style:none; /*ulリストの黒点を消せる*/
}

.header-nav-list a {
  text-decoration: none;
  color: #282828;
  font-size: 16px;
  font-family: "DIN";
  line-height:25px;
}

.header-nav-list a:hover {
  text-decoration: none;
  color: #AAAAAA;
  font-size: 16px;
  font-family: "DIN";
  line-height:25px; /*行の高さを指定*/
  transition: color .4s; /*速度*/
  opacity: 0.5; /*透明度0~1.0*/
}

.header-nav-list img { /*インスタアイコン*/
  height: 4vh;
  opacity: .6s; /*速度*/
}

.header-sp-icon-wrap{
  display: none;
}

.header-sp-nav {
  display: none;
  }


/*ハンバーガーメニュー*/
@media screen and (max-width: 767px) {
header {
  height: 20vh;
}  
  
.header-nav-list {
  display:none;
}

.header-sp-icon-wrap {
  width: 8vw;
  display: flex;
  position: fixed;
  top:6vh;
  right:10vw;
  z-index: 100;
}
      
.header-sp-icon-wrap img {
  height: 100%;
  width:100%;
}

.is-open .header-sp-icon-wrap img{
  background-image:url(images/menu-icon_batu.png) no-repeat 0 0;
  background-size: 8vh;
}
  
.header-sp-nav{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  display: none;
}
  
.header-sp-nav-list {
  width: 60vw;
  padding:30vh 5vw;
  margin: auto;
  list-style: none;
}
  
.header-sp-nav-list  li {
  margin-bottom: 5vh;
}

.header-sp-nav-list  img {
  height: 5vh;
  opacity: .6s;
}
  
.header-sp-nav-list a {
  font-family: "DIN";
  font-size: 18px;
  color: #232323;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-sp-nav-list a:hover {
  font-family: "DIN";
  font-size: 18px;
  color: #AAAAAA;
  text-decoration: none;
  transition: color .4s;
  opacity: 0.5;
}
  
}


.under {
  border-bottom: solid 2px #282828;
  font-size: 18px;
  font-family: "DIN"; 
  position:absolute;
  top: 10vh;
  left: 16vw;
  animation-name: fadein;
  animation-duration: 2s; 
}

@media screen and (max-width: 767px) {
  .under {
    border-bottom: solid 2px #282828;
    font-size: 16px;
    font-family: "DIN"; 
    position:absolute;
    top: 10vh;
    left: 14vw;
  }
}  


body {
  background-image:url("images/back5.jpg");
  background-size: cover;
}

main{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0 16vw;
  justify-content:space-between;
  margin-top:54vh; 
}

/*iPad用*/
@media screen and (min-width: 768px) and (max-width: 1024px){ 
  body {
    background-image:url("images/back2.jpg");
    background-size:cover;
  }
  
  header {
    height: 25vh;  
  }

  .header-nav-list img {
    height: 2vh;
    opacity: .6s;
  }

  .under {
    top: 7vh;
  }

  main {
    margin-top: 28vh;
  }
}

@media screen and (max-width: 767px) {
  .under {
    top: 10vh;
    left: 14vw;
    font-size: 14px;
  }
  
  body {
    background-image:url("images/back1.jpg");
    background-size: cover;
  }

  main{
    margin-top:68vh;
    margin-bottom: 50px;
  }
}


h1 {
  font-size: 21px;
  font-family: "AUT-130"; 
  font-weight: 600;
  position:absolute;
  top: 30vh;
  left: 16.5vw;
  text-decoration: none;
  color: #323232;
  letter-spacing: 0.05em;
  animation-name: fadein;
  animation-duration: 2s; 
}


h2 {
  font-size: 13px;
  font-family: "AUT-90"; 
  font-weight: 550;
  position:absolute;
  top: 40vh;
  left: 16.5vw; 
  text-decoration: none;
  color: #323232;
  letter-spacing: 0.05em;
  animation-name: fadein;
  animation-duration: 2s; 
}

h3 {
  font-size: 18px;
  font-family: "AUT-60"; 
  font-weight: 600;
  position:absolute;
  top: 39vh;
  left: 21vw;
  text-decoration: none;
  color: #323232;
  letter-spacing: 0.05em;
  animation-name: fadein;
  animation-duration: 2s; 
}

.about{
  font-size: 13px;
  font-family: "AUT-60"; 
  position:absolute;
  top: 47vh;
  left: 16.5vw;
  right: 30vw;
  text-decoration: none;
  color: #323232;
  letter-spacing: 0.07em;
  line-height:22px;
  animation-name: fadein;
  animation-duration: 2s; 
}

.info{
  font-size: 11px;
  font-family: "AUT-60"; 
  position: relative;
  text-decoration: none;
  color: #323232;
  letter-spacing: 0.07em;
  line-height:22px;
 }


/*iPad用*/
@media screen and (min-width: 768px) and (max-width: 1024px){ 
h1 {
  font-size: 21px;
  top: 20vh;
  left: 16.5vw;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 13px;
  top: 25vh;
  left: 16.5vw;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 17px;
  top: 24.5vh;
  left: 24vw;
  letter-spacing: 0.05em;
}

.about {
  font-size: 15px;
  top: 30vh;
  left: 16.5vw;
  right: 20vw;
  letter-spacing: 0.07em;
  line-height: 25px;
}

.info{
  font-size: 11px;
 }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 15.5px;
    top: 26vh;
    left: 14vw;
    letter-spacing: 0.05em;
  }
  
  h2 {
    font-size: 12px;
    top: 36vh;
    left: 14vw;
    letter-spacing: 0.05em;
  }
    
  h3 {
    font-size: 14px;
    top: 35.2vh;
    left: 30.5vw;
    right:18vw;
    letter-spacing: 0.05em;
  }
     
  .about{
    font-size: 11px;
    top: 42vh;
    left: 14vw;
    right: 15vw;
    letter-spacing: 0.1em;
    line-height:18px;
  }

  .info{
    font-size: 10px;
    letter-spacing: 0.05em;
   }
}

.work {
  width: 69vw;
  margin-left:2vw;
  margin-bottom:0.5vh;
  box-sizing:border-box;
  animation-name: fadein;
  animation-duration: 2s; 
}

.work img {
  width:100%;
  height:100%;
  object-fit:cover /*ボックスに合わせてリサイズ*/
}

.slick-next:before{
  display: none;
}

.slick-prev:before{
  display: none;
}

.slick-dots li button:before{
  line-height: 40px !important;
  font-family: slick;
  font-size: 25px!important;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•'!important;
  font-family: 'Gill Sans'!important;
  color: #323232!important;
  border-radius: 100px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 767px) {
  .work {
    width: 75vw;
    margin-left:1vw;
    margin-bottom:5px;
 }
}

main a{
  margin-top:60px;
  margin-left: 10px;
  font-size: 13px;
  text-decoration: none;
  font-family: "AUT-90";
  color:#323232;
  border-bottom: solid 1px #231300; /*一重の線*/
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  justify-content: center; /*この３列で上下中央ぞろえ*/
  float: right;
  animation-name: fadein;
  animation-duration: 2s;
}

main a:hover{
  text-decoration: none;
  font-family: "AUT-90";
  color:#AAAAAA!important;
  border-bottom: solid 1px #AAAAAA; /*一重の線*/
}

@media screen and (max-width: 767px) {
  main a{
    margin-top:50px;
    height: 20px;
    font-size: 10px;
  }

  .slick-dots{
    bottom: -15px!important
  }
}

footer {
  width: 100%;
  height: 14vh;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 50px; 
}

.prev {
    text-decoration: none;
    font-size: 18px;
    font-family: "DIN"; 
    position:fixed;
    bottom:42px;
    left: 75px;
    letter-spacing: 0.02em;
  }

.next {
  text-decoration: none;
  font-size: 18px;
  font-family: "DIN"; 
  position:fixed;
  bottom:42px;
  left: 140px;
  letter-spacing: 0.02em;
}

.copyright {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: gray;
  font-size: 11px;
  font-family: "Shuei";
  letter-spacing: 0.08em;
}

/*スマホ用*/
@media screen and (max-width: 767px) {
  footer {
    height: 9vh;
    margin-top: 50px;
  }
  
  .prev {
    font-size: 14px;
    font-family: "AUT-90";
    bottom:20px;
    left: 30px;
  }

  .next {
    font-size: 14px;
    font-family: "AUT-90";
    bottom:20px;
    left: 85px;
  }

  .copyright {
    margin-right: 7vw;
    font-size: 10px;
    font-family: "AUT-60";
    letter-spacing: 0.08em;
  }
}

/*iPad用*/
@media screen and (min-width: 768px) and (max-width: 1024px){ 
  footer {
    height: 10vh;
  }
  }
    

@keyframes fadein {
  from {
      opacity: 0;
      transform: translateY(20px);
    }
  to {
      opacity: 1;
      transform: translateY(0);
    }
   }