* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family:"DIN";
    src: url(font/DIN\ Alternate\ Bold.ttf);
  }

@font-face {
   font-family:"Shuei";
   src: url(font/FOT-DNPShueiGoGinStd-L.otf);
 }


@font-face {
  font-family:"AUT-130";
  src: url(font/AUTHENTICSans-130.otf);
}

@font-face {
  font-family:"AUT-90";
  src: url(font/AUTHENTICSans-90.otf);
}

@font-face {
  font-family:"AUT-60";
  src: url(font/AUTHENTICSans-60.otf);
}


header {
  height: 30vh; /*ヘッダーの高さ*/
  display: flex;
  align-items: center; /*垂直方向の揃え*/
  padding-top: 7vw;
  padding-left: 5vw;
  font-family:"DIN";
}
  
.header-nav-list {
  position:fixed; /*位置固定*/
  list-style:none; /*ulリストの黒点を消せる*/
}

.header-nav-list a {
  text-decoration: none;
  color: #282828;
  font-size: 16px;
  font-family: "DIN";
  line-height:25px;
}

.header-nav-list a:hover {
  text-decoration: none;
  color: #AAAAAA;
  font-size: 16px;
  font-family: "DIN";
  line-height:25px; /*行の高さを指定*/
  transition: color .4s; /*速度*/
  opacity: 0.5; /*透明度0~1.0*/
}

.header-nav-list img { /*インスタアイコン*/
  height: 4vh;
  opacity: .6s; /*速度*/
}

.header-sp-icon-wrap{
  display: none;
}

.header-sp-nav {
  display: none;
  }


/*ハンバーガーメニュー*/
@media screen and (max-width: 767px) {
header {
  height: 20vh;
}  
  
.header-nav-list {
  display:none;
}

.header-sp-icon-wrap {
  width: 8vw;
  display: flex;
  position: fixed;
  top:6vh;
  right:10vw;
  z-index: 100;
}
      
.header-sp-icon-wrap img {
  height: 100%;
  width:100%;
}

.is-open .header-sp-icon-wrap img{
  background-image:url(images/menu-icon_batu.png) no-repeat 0 0;
  background-size: 8vh;
}
  
.header-sp-nav{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  display: none;
}
  
.header-sp-nav-list {
  width: 60vw;
  padding:30vh 5vw;
  margin: auto;
  list-style: none;
}
  
.header-sp-nav-list  li {
  margin-bottom: 5vh;
}

.header-sp-nav-list  img {
  height: 5vh;
  opacity: .6s;
}
  
.header-sp-nav-list a {
  font-family: "DIN";
  font-size: 18px;
  color: #232323;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-sp-nav-list a:hover {
  font-family: "DIN";
  font-size: 18px;
  color: #AAAAAA;
  text-decoration: none;
  transition: color .4s;
  opacity: 0.5;
}
  
}


.under {
  border-bottom: solid 2px #282828;
  font-size: 18px;
  font-family: "DIN"; 
  position:absolute;
  top: 10vh;
  left: 16vw;
}

@media screen and (max-width: 767px) {
  .under {
    border-bottom: solid 2px #282828;
    font-size: 16px;
    font-family: "DIN"; 
    position:absolute;
    top: 10vh;
    left: 14vw;
  }
}  


body {
  background-image:url("back2.jpg");
  background-size: cover;
}

@media screen and (max-width: 767px) {
  body {
    background-image:url("back2.jpg");
  background-size: cover;
  }
}

main{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0 16vw;
  justify-content:space-between;
  margin-top:37vh;
}

@media screen and (max-width: 767px) {
  main{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0 16vw;
    justify-content:space-between;
    margin-top:52vh;
  }
}


h1 {
  font-size: 21px;
  font-family: "AUT-130"; 
  font-weight: 600;
  position:absolute;
  top: 30vh;
  left: 16.5vw;
  text-decoration: none;
  color: #323232;
  letter-spacing: 0.05em;
}


h2 {
  font-size: 13px;
  font-family: "AUT-90"; 
  font-weight: 550;
  position:absolute;
  top: 40vh;
  left: 16.5vw;
  
  text-decoration: none;
  color: #323232;
  letter-spacing: 0.05em;
  }

  h3 {
    font-size: 15px;
    font-family: "AUT-60"; 
    font-weight: 600;
    position:absolute;
    top: 39vh;
    left: 21vw;
    text-decoration: none;
    color: #323232;
    letter-spacing: 0.05em;
    }

 .about{
   font-size: 12px;
   font-family: "AUT-60"; 
   position:absolute;
   top: 46vh;
   left: 16.5vw;
   right: 30vw;
   text-decoration: none;
   color: #323232;
   letter-spacing: 0.07em;
   line-height:18px;
  }

  @media screen and (max-width: 767px) {
    h1 {
    font-size: 15.5px;
    font-family: "AUT-130"; 
    position:absolute;
    top: 26vh;
    left: 14vw;
    text-decoration: none;
    color: #323232;
    letter-spacing: 0.05em;
    animation-name: fadein;
    animation-duration: 2s;
    }

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(20px);
     }
    to {
      opacity: 1;
      transform: translateY(0);
     }
  }
  
    h2 {
    font-size: 12px;
    font-family: "AUT-90"; 
    position:absolute;
    top: 34vh;
    left: 14vw;
    text-decoration: none;
    color: #323232;
    letter-spacing: 0.05em;
    animation-name: fadein;
    animation-duration: 2s;
    }

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(20px);
     }
    to {
      opacity: 1;
      transform: translateY(0);
     }
  }
    
    h3 {
    font-size: 13px;
    font-family: "AUT-60"; 
    position:absolute;
    top: 33.5vh;
    left: 29.5vw;
    text-decoration: none;
    color: #323232;
    letter-spacing: 0.05em;
    animation-name: fadein;
    animation-duration: 2s;
    }

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(20px);
     }
    to {
      opacity: 1;
      transform: translateY(0);
     }
    }
  
    
    .about{
    font-size: 11px;
    font-family: "AUT-60"; 
    position:absolute;
    top: 39vh;
    left: 14vw;
    right: 15vw;
    text-decoration: none;
    color: #323232;
    letter-spacing: 0.1em;
    line-height:18px;
    animation-name: fadein;
    animation-duration: 2s;
    }

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(20px);
     }
    to {
      opacity: 1;
      transform: translateY(0);
     }
    }
  }

.work {
  width: 69vw;
  margin-left:2vw;
  margin-bottom:0.5vh;
  /*padding:0 10px 50px 0;要素の内側の余白・上右下左*/
  box-sizing:border-box;
}

.work img {
  width:100%;
  height:100%;
  object-fit:cover /*ボックスに合わせてリサイズ*/
}

@media screen and (max-width: 767px) {
  .work {
    width: 75vw;
    margin-left:1vw;
    /*padding:0 10px 50px 0;要素の内側の余白・上右下左*/
    box-sizing:border-box;

        
    animation-name: fadein;
    animation-duration: 2s;
 }
 

 @keyframes fadein {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
  }
  
  .work img {
    width:100%;
    height:100%;
    object-fit:cover /*ボックスに合わせてリサイズ*/
  }
}

.scrolly img{
  width:69vw;
  object-fit:cover /*ボックスに合わせてリサイズ*/
}

.scrolly{
  margin-left:2vw;
  width:69vw;
  height:680px;
  overflow-y:scroll;
}

@media screen and (max-width: 767px) {
  .scrolly{
    margin-right:1vw;
    width:75vw;
    height:270px;
    overflow-y:scroll;
  }

  .scrolly img{
    width:100%;
    object-fit:cover; /*ボックスに合わせてリサイズ*/
    animation-name: fadein;
    animation-duration: 3s;
    }

@keyframes fadein {
 from {
     opacity: 0;
     transform: translateY(20px);
 }
 to {
     opacity: 1;
     transform: translateY(0);
 }
  }
}

footer {
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  position: relative;
}

.prev {
  text-decoration: none;
  font-size: 18px;
  font-family: "DIN"; 
  position:absolute;
  bottom:22vh;
  left: 13vw;
}

.next {
  text-decoration: none;
  font-size: 18px;
  font-family: "DIN"; 
  position:absolute;
  bottom:22vh;
  right: 13vw;
}

.copyright {
  position: absolute;
  bottom: 3.5vh;
  padding-left: 5vw;

  text-decoration: none;
  color: gray;
  font-size: 10px;
  font-family: "Shuei";
  letter-spacing: 0.08em;
}

@media screen and (max-width: 767px) {
  footer {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .prev {
    text-decoration: none;
    font-size: 14px;
    font-family: "AUT-90"; 
    position:absolute;
    bottom:19vh;
    left: 13vw;
  }

  .next {
    text-decoration: none;
    font-size: 14px;
    font-family: "AUT-90"; 
    position:absolute;
    bottom:19vh;
    right: 13vw;
  }

  .copyright {
    position: absolute;
    bottom: 3vh;
    padding-left: 7vw;
  
    text-decoration: none;
    color: gray;
    font-size: 8px;
    font-family: "AUT-60";
    letter-spacing: 0.08em;
  }
}
    
/*iPad用 画面の幅が480px以下の時は下のコードが反映される*/
@media screen and (min-width: 768px) and (max-width: 1024px){ 
  .header-nav-list img {
    height: 2vh;
    opacity: .6s;
}

  h1 {
    font-size: 21px;
    font-family: "AUT-130";
    font-weight: 600;
    position: absolute;
    top: 20vh;
    left: 16.5vw;
    text-decoration: none;
    color: #323232;
    letter-spacing: 0.05em;
}

h2 {
  font-size: 13px;
  font-family: "AUT-90";
  font-weight: 550;
  position: absolute;
  top: 25vh;
  left: 16.5vw;
  text-decoration: none;
  color: #323232;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 17px;
  font-family: "AUT-60";
  font-weight: 600;
  position: absolute;
  top: 24.5vh;
  left: 24vw;
  text-decoration: none;
  color: #323232;
  letter-spacing: 0.05em;
}

.about {
  font-size: 15px;
  font-family: "AUT-60";
  position: absolute;
  top: 29vh;
  left: 16.5vw;
  right: 20vw;
  text-decoration: none;
  color: #323232;
  letter-spacing: 0.07em;
  line-height: 25px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16vw;
  justify-content: space-between;
  margin-top: 18vh;
}

footer {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  position: relative;
}

.prev {
  text-decoration: none;
  font-size: 23px;
  font-family: "DIN";
  position: absolute;
  bottom: 25vh;
  left: 14vw;
}

.next {
  text-decoration: none;
  font-size: 23px;
  font-family: "DIN";
  position: absolute;
  bottom: 25vh;
  right: 13vw;
}
}

@keyframes fadein {
  from {
      opacity: 0;
      transform: translateY(20px);
    }
  to {
      opacity: 1;
      transform: translateY(0);
    }
   }