* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Shuei";
  src: url(font/FOT-DNPShueiGoGinStd-L.otf);
}

@font-face {
    font-family:"DIN";
    src: url(font/DIN\ Alternate\ Bold.ttf);
  }

@font-face {
    font-family:"AUT-130";
    src: url(font/AUTHENTICSans-130.otf);
  }
  
@font-face {
    font-family:"AUT-90";
    src: url(font/AUTHENTICSans-90.otf);
  }
  
@font-face {
    font-family:"AUT-60";
    src: url(font/AUTHENTICSans-60.otf);
  }


header {
  height: 30vh;
  display: flex;
  align-items: center; /*垂直方向の揃え*/
  padding-top: 7vw;
  padding-left: 5vw;
  font-family:"DIN";
}

.header-nav-list {
  position:absolute;
  position:fixed; /*位置固定*/
  list-style:none; /*ulリストの黒点を消せる*/
}

.header-nav-list a {
  text-decoration: none;
  color: #282828;
  font-size: 16px;
  font-family: "DIN";
  line-height:25px; /*行の高さを指定*/
}

.header-nav-list a:hover {
  text-decoration: none;
  color: #AAAAAA;
  font-size: 16px;
  font-family: "DIN";
  line-height:25px; /*行の高さを指定*/
  opacity: 0.5;
}

.header-nav-list img {
  height: 4vh;
  opacity: .6s;
}

.header-sp-icon-wrap{
  display: none;
}

.header-sp-nav {
  display: none;
  }

/*スマホ用・ハンバーガーメニュー*/
@media screen and (max-width: 767px) {
  header {
    height: 20vh;
  }  
    
  .header-nav-list {
    display:none;
  }

  .header-sp-icon-wrap {
    width: 8vw;
    display: flex;
    position: fixed;
    top:6vh;
    right:10vw;
    z-index: 100;
  }
        
  .header-sp-icon-wrap img {
    height: 100%;
    width:100%;
  }

  .is-open .header-sp-icon-wrap img{
    content:url(images/menu-icon_batu.png) no-repeat 0 0;
    background-size: 8vh;
  }
    
  .header-sp-nav{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 2;
    display: none;
  }
    
  .header-sp-nav-list {
    width: 60vw;
    padding:30vh 5vw;
    margin: auto;
    list-style: none;
  }
    
  .header-sp-nav-list  li {
    margin-bottom: 5vh;
  }

  .header-sp-nav-list  img {
    height: 5vh;
    opacity: .6s;
  }
    
  .header-sp-nav-list a {
    font-family: "DIN";
    font-size: 18px;
    color: #232323;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header-sp-nav-list a:hover {
    font-family: "DIN";
    font-size: 18px;
    color: #AAAAAA;
    text-decoration: none;
    transition: color .4s;
    opacity: 0.5;
  }
    
}


.under { /*kaedechikakiyo*/
  border-bottom: solid 2px #282828;
  font-size: 16px;
  font-family: "DIN"; 
  position:absolute;
  top: 10vh;
  left: 16vw;
  }

body {
  background-image:url("images/back2.jpg");
  background-size:cover;
}

main{
  display:flex;
  margin:0 15vw;
  margin-bottom: 18px;
}

/*iPad用*/
@media screen and (min-width: 768px) and (max-width: 1024px){ 
  header {
    height: 25vh;  
  }

  .header-nav-list img {
    height: 2vh;
    opacity: .6s;
  }

  .under {
    top: 7vh;
  }

  main{
    margin-bottom:32vh;
  }
}

/*スマホ用*/
@media screen and (max-width: 767px) {
  .under {
    left: 14vw;
    font-size: 14px;
  }

  body {
    background-image:url("images/back8.jpg");
  }
  
  main{
    margin-bottom:7vh;
  }
}

.name {
    font-size: 18px;
    font-family: "AUT-60"; 
    font-weight: 500;
    position:absolute;
    top: 29vh;
    left: 22vw;
    padding-right: 200px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #323232;
    animation-name: fadein;
    animation-duration: 3s;
    }

    .name span {
      font-size: 12px;
      font-family: "AUT-90"; 
      position:absolute;
      top:30.5px;
      left: 0;
      letter-spacing: 0.05em;
      text-decoration: none;
      color: #323232;
      }
  
.about{
    font-size: 13px;
    font-family: "AUT-60"; 
    position:absolute;
    top: 39vh;
    left: 22vw;
    right: 17vw;
    text-decoration: none;
    color: #323232;
    letter-spacing: 1px;
    line-height: 20px;
    animation-name: fadein;
    animation-duration: 3s;
    }  

/* .about2{
    font-size: 12px;
    font-family: "AUT-60"; 
    position:absolute;
    top: 120px;
    left: 0;
    text-decoration: none;
    color: #323232;
    letter-spacing: 0.7px;
    line-height: 22px;
  } */

/*iPad用*/
@media screen and (min-width: 768px) and (max-width: 1024px){ 
h1 {
  font-size: 20px;
  top: 25vh;
  left: 18vw;
}

.about {
  font-size: 14px;
  top: 31vh;
  left: 18vw;
  right: 0;
}
}
  
/*スマホ用*/
@media screen and (max-width: 767px) {
.name {
    left: 17vw;
    font-family: "AUT-60"; 
    }
  
.about{
  font-size: 12px;
  letter-spacing:0.05em;
  top: 41vh;
  left: 17vw;
  right: 20vw;
  line-height: 21px;
  }
}


footer {
  height: 10vh;
  display: flex;
  position: relative;
  top:460px;
}

.copyright {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: gray;
  font-size: 11px;
  font-family: "Shuei";
  letter-spacing: 0.08em;
}

/*iPad用*/
@media screen and (min-width: 768px) and (max-width: 1024px){ 
  footer {
    height: 10vh;
  }
  }

/*スマホ用*/
@media screen and (max-width: 767px) {
  footer {
    height: 160px;
    display: flex;
    align-items: center;
    position: relative;
    top:50vh
  }
  
  .copyright {
    position: absolute;
    bottom: 3vh;
    padding-left: 7vw;
  
    text-decoration: none;
    color: gray;
    font-size: 10px;
    font-family: "AUT-60";
    letter-spacing: 0.08em;
  }
}


@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
    }
  to {
    opacity: 1;
    transform: translateY(0);
    }
  }