* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Shuei";
  src: url(font/FOT-DNPShueiGoGinStd-L.otf);
}

@font-face {
    font-family:"DIN";
    src: url(font/DIN\ Alternate\ Bold.ttf);
  }

  @font-face {
    font-family:"AUT-130";
    src: url(font/AUTHENTICSans-130.otf);
  }
  
  @font-face {
    font-family:"AUT-90";
    src: url(font/AUTHENTICSans-90.otf);
  }
  
  @font-face {
    font-family:"AUT-60";
    src: url(font/AUTHENTICSans-60.otf);
  }

  /*ヘッダー*/
  header {
    height: 30vh;
    display: flex;
    align-items: center;
    padding-top: 7vw;
    padding-left: 5vw;
    font-family:"DIN";
    
  }


  
    
  .header-nav-list {
    position:fixed;
    list-style:none;
    
  }
  
  .header-nav-list a {
    text-decoration: none;
    color: #282828;
    font-size: 16px;
    font-family: "DIN";
    line-height:25px;
  }
  
  .header-nav-list a:hover {
    text-decoration: none;
    color: #AAAAAA;
    font-size: 16px;
    font-family: "DIN";
    line-height:25px;
    transition: color .4s;
    opacity: 0.5;
  }
  
  .header-nav-list img {
    height: 4vh;
    opacity: .6s;
  }
  
  .header-sp-icon-wrap{
    display: none;
  }
  
  .header-sp-nav {
    display: none;
    }

  
  /*ハンバーガーメニュー*/
  @media screen and (max-width: 767px) {
  header {
    height: 20vh;
  }  
    
  .header-nav-list {
    display:none;
  }

  .header-sp-icon-wrap {
    width: 8vw;
    display: flex;
    position: fixed;
    top:6vh;
    right:10vw;
    z-index: 100;
  }
        
  .header-sp-icon-wrap img {
    height: 100%;
    width:100%;
  }

  .is-open .header-sp-icon-wrap img{
    background-image:url(images/menu-icon_batu.png) no-repeat 0 0;
    background-size: 8vh;
  }
    
  .header-sp-nav{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 2;
    display: none;
  }
    
  .header-sp-nav-list {
    width: 60vw;
    padding:30vh 5vw;
    margin: auto;
    list-style: none;
  }
    
  
  .header-sp-nav-list  li {
    margin-bottom: 5vh;
  }

  .header-sp-nav-list  img {
    height: 5vh;
    opacity: .6s;
  }
    
  .header-sp-nav-list a {
    font-family: "DIN";
    font-size: 18px;
    color: #232323;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header-sp-nav-list a:hover {
    font-family: "DIN";
    font-size: 18px;
    color: #AAAAAA;
    text-decoration: none;
    transition: color .4s;
    opacity: 0.5;
  }
    
}


.under {
  border-bottom: solid 2px #282828;
  font-size: 16px;
  font-family: "DIN"; 
  position:absolute;
  top: 10vh;
  left: 16vw;
  animation-name: fadein;
  animation-duration: 2s;
}

@media screen and (max-width: 767px) {
  .under {
    top: 10vh;
    left: 14vw;
  }

}


body {
  background-image:url("images/back1.jpg");
  background-size:cover;
  
}

/*iPad用 画面の幅が480px以下の時は下のコードが反映される*/
@media screen and (min-width: 768px) and (max-width: 1024px){ 
  body {
    background-image:url("images/back2.jpg");
    background-size:cover;
  }
}



main{
  display:flex;
  flex-wrap:wrap; /*折り返して配置*/
  margin:0 15vw;
  justify-content:space-between;

  animation-name: fadein;
  animation-duration: 2s;
}



@media screen and (max-width: 767px) {
  main{
    margin:0 13vw;
    margin-top:5vh;
  }
}

.work{
  width: 22vw;
  height:14.5vw;
  margin-bottom:2vh;
  margin-left:1vw;
  box-sizing:border-box;
  overflow: hidden;
  background: #282828;
  text-align: center;
  position:		relative;	/* 相対位置指定 */
  animation-name: fadein;
  animation-duration: 2s; 
}

.work img {
  width:100%;
  height:100%;
  object-fit:cover; /*ボックスに合わせてリサイズ*/
  cursor: pointer;
  transition-duration: 0.7s;
}

.work:hover img{
  opacity: 0.2;
}

.hover-caption{
  position: absolute;
  top:0;
  left:0;
  margin-top:78px;
  color:white;
  width: 100%;
  height:100%;
  opacity:0;
  text-align:center;
  transition: all 0.7s;
}

.work:hover .hover-caption{
  opacity:1;
}

.hover-caption h2{
  text-decoration: none;
  font-size: 18px;

  font-family: "Shuei";
  line-height: 22px;
  letter-spacing: 0.1em;
}

.hover-caption p{
  text-decoration: none;
  font-size: 12px;
  font-family: "Shuei";

  padding-top: 5px;
  letter-spacing: 0.08em;
}

  /*iPad用 画面の幅が480px以下の時は下のコードが反映される*/
  @media screen and (min-width: 768px) and (max-width: 1024px){
      .work {
        width: 36vw;
        height:20vw;
        margin-bottom:2vh;
        margin-left:0.5vh;
        z-index: inherit 2;
        
        animation-name: fadein;
        animation-duration: 2s;
      }
    
    
  .hover-caption{
    margin-top:100px;
  }

  .hover-caption h2{
    font-size: 22px;
    font-family: "Shuei";
    letter-spacing: 0.05em;
    line-height: 13px;
  }
  
  .hover-caption p{
    text-decoration: none;
    font-size: 16px;
    font-family: "Shuei";
    color: lightgray;
    letter-spacing: 0.05em;
    padding-top: 8px;
    letter-spacing: 0.08em;
  }
} 





@media screen and (max-width: 767px) {
  .work {
    width: 34.5vw;
    height:83px;
    margin-bottom:4vh;
    margin-left:0.5vh;
    z-index: inherit 2;
    
    animation-name: fadein;
    animation-duration: 2s;
  }

  .hover-caption{
    margin-top:26px;
  }

  .hover-caption h2{
    font-size: 11px;
    font-family: "Shuei";
    letter-spacing: 0.05em;
    line-height: 13px;
  }
  
  .hover-caption p{
    text-decoration: none;
    font-size: 10px;
    font-family: "Shuei";
    color: lightgray;
  
    padding-top: 1px;
    letter-spacing: 0.08em;
  }
}

/*フッター*/
  footer {
  height: 20vh;
  display: flex;
  align-items: center;
  position: relative;
}

.copyright {
  position: absolute;
  bottom: 3vh;
  padding-left: 5vw;

  text-decoration: none;
  color: gray;
  font-size: 10px;
  font-family: "AUT-60";
  letter-spacing: 0.08em;
}

@media screen and (max-width: 767px) {
  footer {
    height: 22vh;
  }
  
  .copyright {
    bottom: 3vh;
    padding-left: 7vw;
  }
}

/*iPad用 画面の幅が480px以下の時は下のコードが反映される*/
@media screen and (min-width: 768px) and (max-width: 1024px){ 
  .header-nav-list img {
    height: 2vh;
    opacity: .6s;
}

.work{
  width: 33vw;
}
}


@keyframes fadein {
  from {
      opacity: 0;
      transform: translateY(20px);
    }
  to {
      opacity: 1;
      transform: translateY(0);
    }
   }